<div class="electrician">
        <div class="container">
                <div class="row">
                  <div class="col-md-5 col-md-offset-1">
    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-offset-1 col-md-5 col-xs-12">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="/assets/img/elec1.jpg"  width:130>
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <h3>Shankar Jadhav</h3>
                          <p>A very efficient worker , mostly recommended</p>
                          <button class="btn btn-styled">Viwe More</button>
                         </div>
                       </div>
                     </div>
                  </div>
            
                  <div class="col-md-offset-1 col-md-5 col-xs-12">
                    <div class="card horizontal">
                      <div class="card-image">
                        <img src="/assets/img/elec1.jpg">
                      </div>
                      <div class="card-stacked">
                        <div class="card-content">
                          <h3>Pratik Pawar</h3>
                          <p>A very efficient worker , mostly recommended</p>
                          <button class="btn btn-styled">View More</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-offset-1 col-md-5 col-xs-12">
                        <div class="card horizontal">
                          <div class="card-image">
                            <img src="/assets/img/elec1.jpg"  width:130>
                          </div>
                          <div class="card-stacked">
                            <div class="card-content">
                              <h3>Shankar Deshpandee</h3>
                              <p>A very efficient worker , mostly recommended</p>
                              <button class="btn btn-styled">Viwe More</button>
                             </div>
                           </div>
                         </div>
                      </div>
                
                </div>
              </div>
  
          </div>
  
  