<form>
<div class="container">
<div class="signin">login</div>
<div class="login-form">
<input required ngModel #email="ngModel" type="email" placeholder="Email" name="email" class="input">
<div class="alert alert-danger" *ngIf="email.touched && !email.valid">This Field is requird</div><br>

<input required maxlength="5" ngModel #pass="ngModel" type="password" placeholder="Password" name="pass"class="input">
<div class="alert alert-danger" *ngIf="pass.touched && !pass.valid">
<div *ngIf="pass.errors.required">This Field is required</div>
<div *ngIf="pass.errors.maxlength">Password should be maximum 5 digit</div>
</div>

<div class="btn">log in</div>
<span><a href="#">Forgot password .</a></span>
</div>
<div class="form-group form-button">
        <a routerLink="/signup">Create Your Account Here!!!</a>
    </div>
    
</div>
</form>